* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Times New Roman';
            
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ajusta este valor según sea necesario */
    top: 0;
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra según sea necesario */
}

main {
    margin-top: 17%;
}

@media (max-width: 767px) {
    main {
        margin-top: 40%; /* o cualquier otro valor que funcione bien para dispositivos móviles */
    }
}




i:hover {
    color: yellow;
}

section {
    margin-block: 2%;
}

@media (min-width: 576px) {
    h5 {
        font-size: 3rem;
    }
}

.colores_principales {
    background-color: #03005E;
    color: white;
}

@media (max-width: 575px) {
    .banner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 576px) {
    .banner {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.fila_centrada {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columna_50 {
    width: 50%;
}

.carousel-image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 575px) {
    #logo {
        width: 15%;
    }
}

@media (min-width: 576px) {
    #logo {
        width: 10%;
    }
}

#carousel-container {
    overflow: hidden;
    position: relative;
}

#image-carousel {
    white-space: nowrap;
    transition: transform 1s ease-in-out;
    font-size: 0;
}

.embed-container {

    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Agrega bordes redondos con un radio de 10 píxeles */
}
